
@{
    ViewData["Title"] = "AboutProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page">
  <!-- Main Search Start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><i class="pe-7s-close"></i></button>
        </div>
        <div class="sidebar-search-input">
            <form action="#">
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="" type="search">
                    <button>
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            <p class="form-description">Hit enter to search or ESC to close</p>
        </div>
    </div>
    <!-- Main Search End -->
    <!-- Page Title Section Start -->
    
    <div class="page-title-section section section-padding-top" data-overlay="0.7" data-bg-image="/assets/images/hero-image/pexels.jpg">
        <div class="page-title">
            <div class="container">
                <h1 class="title">همه چیز درباره ی صندلی تصفیه کننده ی هوا</h1>
            </div>
        </div>
        <div class="page-breadcrumb position-static">
            <div class="container">
                <ul class="breadcrumb justify-content-center">
                    <li><a asp-controller="Home" asp-action="IndexAsync" >صفحه اصلی</a></li>
                    <li class="current">درباره محصول</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Title Section End -->
    <!-- Blog Section Start -->
    <div class="section section-padding fix">
        <div class="container">
            <div class="row mb-n10" style="align-items:center;justify-content:center;">

                <div class="col-lg-8 col-12 order-lg-1 mb-10">
                    <!-- Blog Wrapper Start -->
                    

                    <div class="row row-cols-1 no-gutters">

                        <!-- Blog Start -->
                        <div class="blog-3 blog-details col" data-aos="fade-up">
                            <div class="thumbnail">
                                <img class="w-100" src="/assets/images/IMG_20240711_012126_653.jpg" alt="Blog Image">
                            </div>
                            <div class="info">
                                <h3 style="direction:rtl;" class="title">صندلی تصفیه‌کننده هوا چیست ؟ </h3>
                                <div class="desc">
                                    <p>صندلی هوشمند تصفیه‌کننده هوا یک دستگاه مدرن است که وظیفه‌اش پاک‌سازی هوایی است که شما تنفس می‌کنید. هوای داخلی می‌تواند شامل آلرژن‌ها، آلودگی‌ها و مواد مضر باشد که به مرور زمان در محیط جمع می‌شوند..</p>

                                    <p><strong> این صندلی با فیلتر کردن و حذف این مواد، کیفیت هوا در محدوده ی تنفسی فرد را  در سریع ترین زمان ممکن بهبود می‌بخشد. استفاده از چنین دستگاهی می‌تواند به کاهش خطر ابتلا به مشکلات تنفسی ناشی از آلودگی هوا کمک کند و محیطی سالم‌تر برای شما فراهم کند.</strong></p>
                                  
                                    <p>تصور کنید یک صندلی هوشمند که نه تنها راحتی شما را تأمین می‌کند، بلکه هوای اتاق را نیز تصفیه می‌کند! این صندلی دارای نانو فیلترهایی است که به‌طرز مؤثری آلاینده‌های هوا را جذب می‌کند و به مراتب کارایی بیشتری نسبت به تصفیه‌کننده‌های معمولی دارد. شما می‌توانید آن را در هر نقطه از اتاق کارتان قرار دهید و در حین کار بر روی کامپیوترتان از هوای تازه و پاکیزه‌ای که ایجاد می‌کند، لذت ببرید. این صندلی هوشمند به‌راحتی جایگزین صندلی معمولی شما می‌شود و بدون اینکه فضایی را اشغال کند، تجربه‌ای بهینه و سالم‌تر را برای شما به ارمغان می‌آورد.</p>
                                </div>
                               
                            </div>
                        </div>
                        <!-- Blog End -->
                        <div style="padding-bottom:0;" class="section section-padding-top section-padding-bottom-160">
                            <div class="container">

                                <!-- About Wrapper Start -->
                                <div class="row">

                                    <!-- About Image Area Start -->
                                    <div class="col-xl-7 col-lg-6 col-12 aos-init aos-animate" data-aos="fade-up">
                                        <div class="about-image-area">
                                            <div class="about-image js-tilt" style="will-change: transform; transform: perspective(3000px) rotateX(0deg) rotateY(0deg);">
                                                <img src="/assets/images/IMG_20240711_012112_811.jpg" alt="">
                                            </div>
                                           
                                            <!-- Animation Shape Start -->
                                            <div class="shape shape-1 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                                <span data-depth="1" style="transform: translate3d(-19.8px, -5.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img src="/assets/images/shape-animation/about-shape-1.png" alt=""></span>
                                            </div>
                                            <!-- Animation Shape End -->
                                        </div>
                                    </div>
                                    <!-- About Image Area Start -->
                                    <!-- About Start -->
                                    <div class="col-xl-5 col-lg-6 col-12 aos-init aos-animate" data-aos="fade-up">
                                        <!-- About Content Area Start -->
                                        <div style="width:300px;" class="about-content-area">
                                            <!-- Section Title Two Start -->
                                            <div class="section-title-two">
                                  
                                                <h3 class="title">بهترین تصفیه کننده دود سیگار</h3>
                                            </div>
                                            <!-- Section Title Two End -->

                                            <p>اگر یکی از اعضای خانواده شما سیگار می‌کشد یا در فضای اداری با فردی سیگاری همکار هستید، ممکن است زندگی شما تحت تأثیر قرار گیرد. در این شرایط، یک تصفیه‌کننده هوای مناسب می‌تواند به کاهش اثرات دود سیگار کمک کند. با این حال، تصفیه‌کننده‌های معمولی و حتی مدل‌های با فیلترهای HEPA ممکن است نتوانند به‌طور کامل بوی دود را از بین ببرند و شما همچنان ممکن است بخشی از آن را تنفس کنید.</p>

                                        </div>
                                        <!-- About Content Area Start -->
                                    </div>
                                    <!-- About Start -->

                                </div>
                                <!-- About Wrapper End -->

                            </div>
                        </div>
                        <p><strong>اما اکنون یک راه حل هوشمند و کارآمد در دسترس است: صندلی هوشمند تصفیه‌کننده هوا. این صندلی با استفاده از نانو فیلترهای پیشرفته، قادر است تمامی آلاینده‌های موجود در هوا، از جمله دود سیگار، را به‌طور مؤثری جذب کند. فناوری به‌کاررفته در این دستگاه، که ثبت پتنت شده است، می‌تواند به حذف آلاینده‌های آلی و معدنی ناشی از سیگار کمک کند.</strong></p>

                        <p>با این نوآوری، شما می‌توانید هوای سالم‌تری تنفس کنید و تجربه‌ای راحت‌تر و سالم‌تر در کنار عزیزانتان و همکارانتان داشته باشید.</p>

                    </div>
                </div>
            </div>
        </div>
    <!-- Blog Section End -->
    <!-- CTA Section Start -->
    <div class="section section-padding-t110-b120 newsletter-section" data-overlay="0.7" data-bg-image="/assets/images/bg/newsletter.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 m-auto">
                    <!-- CTA Content Start -->
                    <div class="cta-content text-center">
                        <!-- Section Title Start -->
                        <div class="section-title color-light text-center mb-0" data-aos="fade-up">
                            <h2 class="title"style="text-align:center;">با ما در ارتباط باشید</h2>
                            <p class="sub-title fz-18">
                                با ارسال بازخورد میتوانید برای بهبود  محصول به ما کمک کنید.
                            </p>
                        </div>
                        <!-- Section Title End -->
                            <a asp-action="Contact" asp-controller="Home" class="btn btn-primary btn-hover-secondary mt-6">ارتباط با ما</a>
                    </div>
                    <!-- CTA Content End -->
                </div>
            </div>
        </div>

        <!-- Animation Shape Start -->
        <div class="shape shape-1 scene">
            <span data-depth="3">
                <img src="/assets/images/shape-animation/newsletter-shape.png" alt="">
            </span>
        </div>
        <!-- Animation Shape End -->
    </div>

    <!-- CTA Section End -->
</div>