@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section section-padding contact-section" data-overlay="0.7" data-bg-image="/assets/images/bg/contact-bg.webp" style="background-image: url(&quot;assets/images/bg/contact-bg.jpg&quot;);">
    <div class="container">
        <div style="  padding-top:2rem;" class="row row-cols-lg-2 row-cols-1 align-items-center">
            <div class="col aos-init aos-animate" data-aos="fade-up">
                <div class="contact-Information mr-xl-7">
                    <div class="section-title-two color-light"><span class="sub-title">راه های ارتباطی با ما</span><h3 style="direction:rtl;" class="title">راهی برای پاسخ به پرسش های شما.</h3></div><div class="contact-info info-light" data-vivus-hover=""><div class="icon"><img class="svgInject" src="/assets/images/svg/linea/linea-basic-map.svg" alt=""></div><div class="info"><h4 class="title">ادرس </h4><span class="info-text">همدان ، خیابان صدف، کوچه موسوی دلجو </span></div></div><div class="contact-info info-light" data-vivus-hover="">
                        <div class="icon"><img class="svgInject" src="/assets/images/svg/linea/linea-basic-message-txt.svg" alt=""></div><div class="info">
                            <h4 class="title">شماره تماس</h4><span class="info-text">
                                09909994894
                                / 09185925976
                            </span>
                        </div>
                    </div><div class="contact-info info-light" data-vivus-hover=""><div class="icon"><img class="svgInject" src="/assets/images/svg/linea/linea-basic-mail-open-text.svg" alt=""></div><div class="info"><h4 class="title">پست الکترونیکی</h4><span class="info-text"><a href="#">rezaei2020@gmail.com</a></span></div></div>
                </div>
            </div><div class="col mt-lg-0 mt-md-10 mt-8 aos-init aos-animate" data-aos="fade-up">
                <div class="contact-form-area">
                    <div class="section-title text-center mb-7 aos-init aos-animate" data-aos="fade-up">
                        <h2 class="title fz-28">سریع ترین راه برای ارتباط با ما</h2><p style="direction:rtl;" class="sub-title">
                            ما کاری کرده‌ایم که مشتری‌ها راحت‌تر بتوانند با ما تماس بگیرند و مشکلات‌شان را حل کنند.
                        </p>
                    </div><form asp-controller="Home" asp-action="CreateMessage" enctype="multipart/form-data" id="contact-form" method="post"><div class="row mb-n4"><div class="col-md-12 col-12 mb-4"><input type="text" placeholder="* نام" name="Name" required></div><div class="col-md-12 col-12 mb-4"><input type="email" placeholder="* ایمیل" name="Email" required></div><div class="col-12 mb-6"><textarea name="Description" placeholder="پیام شما" required></textarea></div><div class="col-12 text-center mb-4"><button type="submit" class="btn btn-primary btn-hover-secondary">ارسال</button></div></div></form><p class="form-messege"></p><div class="shape shape-1 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;"><span data-depth="1" style="transform: translate3d(-14.8px, 10.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img src="/assets/images/shape-animation/contact-shape.png" alt=""></span></div>
                </div>
            </div>
        </div>
    </div><div class="shape shape-1 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;"><span data-depth="1" style="transform: translate3d(-135.8px, 6.1px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"><img src="/assets/images/shape-animation/newsletter-shape.png" alt=""></span></div>
</div>


@section Scripts {

    <script>
        document.getElementById('contact-form').addEventListener('submit', function (event) {
            var name = this.Name.value.trim();
            var email = this.Email.value.trim();
            var description = this.Description.value.trim();

            if (!name || !email || !description) {
                event.preventDefault();
                alert('لطفاً تمام فیلدهای ضروری را پر کنید.');
            }
        });
    </script>
}