<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AirPak</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="صندلی تصفیه کننده هوا  با استفاده از فیلتر های نانو">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.webp">
    <link rel="stylesheet" href="~/assets/css/vendor/vendor.min.css" async>
    <link href="~/assets/css/plugins/plugins.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/stylee.css" async>

    @await RenderSectionAsync("preHome", required: false)
</head>
<body>
    <div id="page" class="section">
        <div class="header-section header-transparent sticky-header section">
            <div class="header-inner">
                <div class="container position-relative">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-2 col-auto order-0">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img class="dark-logo"src="~/assets/images/logo/Ai.webp"alt="AirPak Logo"/>
                                </a>
                            </div>
                        </div><div class="col-auto col-xl d-flex align-items-center justify-content-xl-center justify-content-end order-2 order-xl-1"><div class="menu-column-area d-none d-xl-block position-static"><nav class="site-main-menu"><ul id="menu"><div class="icon-wrapper" style="height:50px; justify-content:center;"><partial class="partial1" name="_LoginPartial" /></div><li><a class="active" asp-action="Index" asp-controller="Home"><span class="menu-text">صفحه اصلی</span></a></li><li><a asp-action="About" asp-controller="Home"><span class="menu-text">درباره ما</span></a></li><li><a asp-action="AboutProduct" asp-controller="Home"><span class="menu-text">درباره محصول</span></a></li><li><a style="text-align: start;" asp-action="Contact" asp-controller="Home"><span class="menu-text">تماس با ما</span></a></li></ul></nav></div><div class="header-search-area ml-xl-7 ml-0"><div class="header-search"><a href="javascript:void(0)" class="header-search-toggle"><i class="fa fa-search"></i></a></div></div><div class="header-mobile-menu-toggle d-xl-none ml-sm-2"><button class="toggle"><i class="icon-top"></i><i class="icon-middle"></i><i class="icon-bottom"></i></button></div></div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <div class="footer-section section" data-bg-color="#030e22">
            <div class="container">
                <div class="row mb-lg-14 mb-md-10 mb-6">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 col-12 mb-6">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img class="logo"src="~/assets/images/logo/Air.webp"alt="AirPak Logo"/>
                                </a>
                            </div><div class="footer-widget-content"><div class="content"><p><a href="#">09909994894</a></p><p><a href="#">rezaei2020@gmail.com</a></p></div><div class="footer-social-inline"><a href="#"><i class="fab fa-twitter-square"></i></a><a href="#"><i class="fab fa-facebook-square"></i></a><a href="#"><i class="fab fa-instagram"></i></a></div></div>
                        </div>
                    </div><div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 mb-6"><div class="footer-widget"><h4 class="footer-widget-title">خدمات</h4><div class="footer-widget-content"><ul><li><a href="#">به زودی</a></li></ul></div></div></div><div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6"><div class="footer-widget"><h4 class="footer-widget-title">محصولات</h4><div class="footer-widget-content"><ul><li><a href="#">به زودی</a></li><li><a href="#"></a></li><li><a href="#"><span class="ft-badge">جدید</span></a></li><li><a href="#"></a></li></ul></div></div></div><div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6"><div class="footer-widget"><h4 class="footer-widget-title">درباره ما</h4><div class="footer-widget-content"><ul><li><a href="#">ویژگی‌ها</a></li><li><a href="#">شرکای ما</a></li><li><a href="#">برنامه همکاری</a></li><li><a href="#">قیمت گذاری</a></li></ul></div></div></div><div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-6"><div class="footer-widget"><a asp-controller="Home" asp-action="Contact"><h4 class="footer-widget-title">تماس با ما</h4></a><div class="footer-widget-content"><ul><li><a href="#"> پشتیبانی</a></li><li><a href="#">سوالات متداول</a></li></ul></div></div></div><div class="row"><div class="col"><p dir="rtl" lang="fa-IR" class="copyright">© 2024 <strong>ایده های نوین درهوای پاک</strong> ساخته شده با <i class="fas fa-heart text-danger" aria-hidden="true"></i> توسط <a href="https://www.linkedin.com/in/saleh-falahi-9210942b2">Karizma Kyan Fanavari<strong></strong></a>.</p></div></div>
                </div>
            </div><a href="#" class="scroll-top" id="scroll-top"><i class="fa arrow-top"></i><i class="arrow-bottom fal fa-long-arrow-up"></i></a>
        </div><div id="site-main-mobile-menu" class="site-main-mobile-menu"><div class="site-main-mobile-menu-inner"><div class="mobile-menu-header"><div class="mobile-menu-logo"><a href="index.html"><img src="~/assets/images/logo/Ai.webp" alt="AirPak Logo"></a></div><div class="mobile-menu-close"><button class="toggle"><i class="icon-top"></i><i class="icon-bottom"></i></button></div></div><div class="mobile-menu-content"><nav class="site-mobile-menu "><ul><li><a class="textright" asp-action="Index" asp-controller="Home"><span class="menu-text">صفحه اصلی</span></a></li><li><a asp-controller="Home" asp-action="About"><span class="menu-text">درباره ما</span></a></li><li><a asp-action="AboutProduct" asp-controller="Home"><span class="menu-text">درباره محصول</span></a></li><li><a asp-controller="Home" asp-action="Contact"><span class="menu-text">تماس با ما</span></a></li></ul></nav></div></div></div>
    </div>
 
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/mainn.js"></script>
    <script async>
        $(document).ready(function () {
            const menuLinks = document.querySelectorAll('#menu a');
            menuLinks.forEach(link => {
                link.classList.remove('active');
            });
            const currentUrl = window.location.href;
            menuLinks.forEach(link => {
                const linkUrl = link.href;

                if (linkUrl === currentUrl) {
                    link.classList.add('active');
                }
            });
        });
    </script>
    <script async>
        // برای انتخاب ثبتنام و ورود
        function handleSelectChange(event) {
            const selectedValue = event.target.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"defer></script>
</body>
</html>
